#baro {
	width: 100%;

	.baro_inner_top {
		width: 100%;
		height: 200px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;

		.txt {
			width: 100%;

			h2 {
				font: 35px/1.5 'LotteMartHappy';
				color: #555;
			}

			p {
				font: 18px/1.5 'LotteMartDream';
				color: #555;
			}
		}
	}

	.baro_inner_bottom {
		.wrap {
			width: 500px;
			height: 240px;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			text-align: center;

			.leftbaro {

				display: inline-block;

				a {
					width: 200px;
					height: 200px;

					img {
						width: 50px;
						height: 50px;
					}

					h3 {
						font: 16px/2 'LotteMartDream';
						color: #555;

						&:hover {
							color: orange;
						}
					}
				}
			}

			.centerbaro {
				display: inline-block;

				a {
					width: 200px;
					height: 200px;

					img {
						width: 50px;
						height: 50px;
					}

					h3 {
						font: 16px/2 'LotteMartDream';
						color: #555;

						&:hover {
							color: orange;
						}
					}
				}
			}

			.rightbaro {
				display: inline-block;

				a {
					width: 200px;
					height: 200px;

					img {
						width: 50px;
						height: 50px;
					}

					h3 {
						font: 16px/2 'LotteMartDream';
						color: #555;

						&:hover {
							color: orange;
						}
					}
				}
			}
		}
	}
}




@media screen and (max-width: 800px) {
	#baro {
		width: 100%;

		.baro_inner_top {
			width: 100%;
			height: 200px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;

			.txt {
				width: 100%;

				h2 {
					font: 30px/1.5 'LotteMartHappy';
					color: #555;
				}

				p {
					font: 16px/1.5 'LotteMartDream';
					color: #555;
				}
			}
		}

		.baro_inner_bottom {
			.wrap {
				width: 400px;
				height: 240px;
				margin: 0 auto;
				display: flex;
				justify-content: space-between;
				text-align: center;

				.leftbaro {
					display: inline-block;

					a {
						width: 100px;
						height: 100px;

						img {
							width: 50px;
							height: 50px;
						}

						h3 {
							font: 14px/2 'LotteMartDream';
							color: #555;

							&:hover {
								color: orange;
							}
						}
					}
				}

				.centerbaro {
					display: inline-block;

					a {
						width: 100px;
						height: 100px;

						img {
							width: 50px;
							height: 50px;
						}

						h3 {
							font: 14px/2 'LotteMartDream';
							color: #555;

							&:hover {
								color: orange;
							}
						}
					}
				}

				.rightbaro {
					display: inline-block;

					a {
						width: 100px;
						height: 100px;

						img {
							width: 50px;
							height: 50px;
						}

						h3 {
							font: 14px/2 'LotteMartDream';
							color: #555;

							&:hover {
								color: orange;
							}
						}
					}
				}
			}
		}
	}
}


@media screen and (max-width: 400px) {
	#baro {
		width: 100%;

		.baro_inner_top {
			width: 100%;
			height: 140px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;

			.txt {
				width: 95%;

				h2 {
					font: 25px/1.5 'LotteMartHappy';
					color: #555;
				}

				p {
					font: 12px/1.5 'LotteMartDream';
					color: #555;
				}
			}
		}

		.baro_inner_bottom {
			.wrap {
				width: 260px;
				height: 310px;
				margin: 0 auto;
				display: block;
				justify-content: center;
				text-align: center;

				.leftbaro {
					display: flex;
					justify-content: center;
					width: 260px;
					height: 100px;

					>div {
						width: 130px;
						height: 100px;

						a {
							width: 130px;
							height: 100px;

							img {
								width: 30px;
								height: 30px;
							}

							h3 {
								font: 15px/2 'LotteMartDream';
								color: #555;

								&:hover {
									color: orange;
								}
							}
						}
					}
				}



				.centerbaro {
					display: flex;
					justify-content: center;
					width: 260px;
					height: 100px;

					>div {
						width: 130px;
						height: 100px;

						a {
							width: 130px;
							height: 100px;

							img {
								width: 30px;
								height: 30px;
							}

							h3 {
								font: 15px/2 'LotteMartDream';
								color: #555;

								&:hover {
									color: orange;
								}
							}
						}
					}
				}

				.rightbaro {
					display: flex;
					justify-content: center;
					width: 260px;
					height: 100px;

					>div {
						width: 130px;
						height: 100px;

						a {
							width: 130px;
							height: 100px;

							img {
								width: 30px;
								height: 30px;
							}

							h3 {
								font: 15px/2 'LotteMartDream';
								color: #555;

								&:hover {
									color: orange;
								}
							}
						}
					}
				}
			}
		}
	}
}