#banner1 {
	width: 100%;
	background-color: #fff;
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden;
	margin-bottom: 60px;

	a {
		width: 1500px;
		margin: 0 auto;
		position: relative;
		display: block;

		img {
			max-width: 100%;
			height: auto;
			object-fit: cover;
		}

		.banner1_inner {
			width: 80%;
			text-align: left;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			position: absolute;

			h2 {
				font: 32px/2 'LotteMartHappy';
				color: #555;
			}

			h3 {
				font: 16px/1 'LotteMartDream';
				color: #555;
			}

			h4 {
				font: 16px/2.5 'LotteMartDream';
				color: #555;
			}

			h5 {
				font: bold 18px/2 'LotteMartDream';
				color: #555;
				// background-color: rgba(0, 0, 0, 0.1);
				display: inline-block;
				padding: 0% 0.5% 0% 0.5%;


				&:hover {
					color: orange;
					// background-color: rgba(22, 89, 50, 0.3);
				}

			}
		}
	}
}

@media screen and (max-width: 800px) {
	#banner1 {
		width: 100%;
		background-color: #fff;
		position: relative;
		display: flex;
		align-items: center;
		overflow: hidden;

		a {
			width: 100%;
			margin: 0 auto;
			position: relative;
			display: block;

			img {
				max-width: 100%;
				height: auto;
				object-fit: cover;
			}


			.banner1_inner {
				width: 90%;
				text-align: left;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				position: absolute;

				h2 {
					font: 20px/2 'LotteMartHappy';
					color: #555;
				}

				h3 {
					font: 12px/1.3 'LotteMartDream';
					color: #555;
				}

				h4 {
					font: 12px/1.3 'LotteMartDream';
					color: #555;
				}

				h5 {
					font: bold 12px/2 'LotteMartDream';
					color: #555;
				}
			}
		}
	}
}

@media screen and (max-width: 400px) {
	#banner1 {
		width: 100%;
		background-color: #fff;
		position: relative;
		display: flex;
		align-items: center;
		overflow: hidden;

		a {
			width: 100%;
			margin: 0 auto;
			position: relative;
			display: block;

			img {
				max-width: 100%;
				height: auto;
				object-fit: cover;
			}


			.banner1_inner {
				width: 90%;
				text-align: left;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				position: absolute;

				h2 {
					font: 15px/2 'LotteMartHappy';
					color: #555;
				}

				h3 {
					font: 12px/1.3 'LotteMartDream';
					color: #555;
					display: none;
				}

				h4 {
					font: 12px/1.3 'LotteMartDream';
					color: #555;
					display: none;
				}

				h5 {
					font: bold 10px/1 'LotteMartDream';
					color: #555;
				}
			}
		}
	}
}