#brand {
	width: 100%;
	height: 700px;
	background-color: #fff;
	position: relative;

	.brand_inner_top {
		transition: all 1s;

		.txt {
			text-align: center;

			h2 {
				font: 1.7vw/1.5 'LotteMartHappy';
				color: #555;
			}

			p {
				font: 0.9vw/1.3 'LotteMartDream';
				color: #555;
			}
		}

		div {
			.brand_inner_mid {
				width: 100%;
				display: flex;
				justify-content: space-between;
				position: relative;

				article {
					width: 20vw;
					height: 50vh;
					border: 1px solid #e8dfd8;
					border-radius: 10px;
					margin-top: 25px;
					transition-duration: 1.5s;
					transition-delay: 0s;
					overflow: hidden;
					z-index: 1;
					position: absolute;

					.wrap {
						width: 100%;
						height: 20%;
						background-color: #e8dfd8;
						right: 0;
						transition: 1.5s;
						position: absolute;
						text-align: center;

						h2 {
							font: 1.2vw/1.8 'LotteMartHappy';
							color: #555;
							transition: 0.5s;
							position: relative;
							z-index: 2;

							&::before {
								width: 0%;
								height: 1px;
								background-color: #fff;
								top: -10px;
								left: 0;
								transition: width 1s 0.5s;
								position: absolute;
								content: '';
							}
						}

						strong {
							font: 0.8vw/1 'LotteMartDream';
							color: #555;
							position: relative;

						}

						p {
							font: 0.6vw/1.7 'LotteMartDream';
							color: #555;
							position: relative;

						}

						i {
							// font: 20px/1 'LotteMartDream';
							// color: #000;
							// top: 40px;
							// right: 40px;
							// position: absolute;
						}



						.desc {
							width: 100%;
							font: 0.8vw/1.3 'LotteMartDream';
							color: #555;
							top: 60%;
							// left: 5vw;
							transition: 0.5s;
							position: absolute;
							opacity: 0;
						}
					}

					.pic {
						width: 100%;
						height: 70%;
						background-color: #fff;
						bottom: 5%;
						left: 0;
						transition: 0.5s;
						position: absolute;

						img {
							width: 100%;
							height: 100%;
							object-fit: contain;
							opacity: 0.5;
							transition: opacity 0.5s;
						}
					}

					.open {
						width: 100%;
						height: 100%;
						bottom: 0px;
						left: 0px;
						transition: 0.5s;
						position: absolute;
						overflow: hidden;
						opacity: 0;
						cursor: pointer;
						pointer-events: none;
						text-align: center;


						&:hover {
							width: 100%;
							height: 100%;
							border: 2px solid #555;
							border-radius: 10px;
							position: relative;
							overflow: hidden;
							opacity: 0.5;
							cursor: pointer;
							pointer-events: none;

						}

						span {
							font: 1.2vw/1 'LotteMartDream';
							color: #fff;
							background-color: #555;
							border-radius: 5px;
							top: 50%;
							transition: 0.5s;
							transform: translateX(-200px);
							position: relative;
						}

						i {
							// color: #555;
							// transition: 0.5s;
							// margin-right: -100px;
							// opacity: 0;
						}
					}

					.close {
						font: bold 1vw/1 'LotteMartDream';
						color: #555;
						top: 10vh;
						// right: -10vw;
						transition: all 0.5s;
						position: absolute;
						cursor: pointer;
						opacity: 0;

					}

					&:nth-of-type(1) {
						transform: translateX(0%) translateY(0%);
						opacity: 0;
					}

					&:nth-of-type(2) {
						transform: translateX(90%) translateY(0%);
						opacity: 0.8;
					}

					&:nth-of-type(3) {
						transform: translateX(198%) translateY(0%);
						opacity: 1;

						.txt h2::before {
							width: 4vw;
						}

						.pic img {
							opacity: 1;
						}

						.open {
							width: 100%;
							pointer-events: auto;
							// transition-duration: 1s;
							// z-index: 9999;
							// background-color: #fff;

							span {
								transform: translateX(150px);
								transition: 0.5s 0.5s;
								opacity: 1;
							}

							&.off {
								pointer-events: none;
								opacity: 0;
							}

							// i {
							// 	margin-right: 30px;
							// 	transition: 0.5s 0.8s;
							// 	opacity: 1;
							// }
						}
					}

					&:nth-of-type(4) {
						transform: translateX(306%) translateY(0%);
						opacity: 0.8;
					}

					&:nth-of-type(5) {
						transform: translateX(360%) translateY(0%);
						opacity: 0;

					}
				}

				article.on {
					width: 35vw;
					height: 40vh;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
					transition-duration: 1s;
					transition-delay: 1s;
					z-index: 2;

					.wrap {
						width: 60%;
						height: 100%;
						transition: 0.1s 0.5s;
						background-color: #e8dfd8;
						text-align: left;

						h2 {
							top: 10%;
							left: 10%;
							transition: 0.5s;
						}

						strong {
							display: none;
						}

						P {
							display: none;
						}

						.desc {
							text-align: left;
							top: 25%;
							left: 10%;
							transition: 1s 1s;
							opacity: 1;
						}
					}

					.pic {
						width: 40%;
						height: 90%;
						transition: 0.5s 0.5s;
					}

					.open {
						margin-top: 1000px;
						opacity: 0.5;

					}

					.close {
						top: 35vh;
						right: 2vw;
						opacity: 1;

						&:hover {
							color: orange;
						}

					}
				}

				article.hide {
					margin-top: -1000px;
					transition-delay: 0s;
					opacity: 0;
				}
			}
		}
	}

	.brand_btn {
		width: 100%;
		gap: 10px;
		display: flex;
		justify-content: center;
		transition: 0.5s;
		position: relative;
		top: 70%;
		pointer-events: auto;

		&.off {
			pointer-events: none;
			opacity: 0;
		}

		&:hover {
			gap: 20px;
		}

		&::before {
			// width: 1px;
			// height: 100%;
			// background-color: #555;
			// top: 50%;
			// left: 50%;
			// transform: translateY(-50%) rotate(-60deg);
			// position: absolute;
			// content: '';
		}

		.brand_prev {
			background-color: #e8dfd8;
			clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);

			&:hover {
				background-color: orange;
			}
		}

		.brand_next {
			background-color: #e8dfd8;
			clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);

			&:hover {
				background-color: orange;
			}
		}

		p {
			width: 50px;
			height: 30px;
			color: #555;
			position: relative;
			cursor: pointer;


			span {
				font: 12px/1 'LotteMartDream';
				color: #555;
				transition: 0.5s;
				display: inline-block;


			}

			&::before {
				// width: 0%;
				// height: 1px;
				// background-color: #555;
				// top: 50%;
				// transition: 0.2s 0.2s;
				// opacity: 1;
				// position: absolute;
				// content: '';
			}

			&::after {
				width: 0px;
				height: 1px;
				background-color: #555;
				top: 50%;
				transition: 0.2s 0s;
				position: absolute;
				content: '';
			}

			&.brand_next {
				text-align: left;

				span {
					font: 15px/1 'LotteMartHappy';
					color: #999;
					transform: translateY(-5px);
				}

				&::before {
					left: 0;
				}

				&::after {
					right: 0;
					transform-origin: right center;
					transform: rotate(40deg);
				}
			}

			&.brand_prev {
				text-align: right;

				&.off {
					right: 5vw;
					opacity: 0;
				}

				span {
					font: 15px/1 'LotteMartHappy';
					color: #999;
					transform: translateY(20px);

				}

				&::before {
					right: 0;
				}

				&::after {
					left: 0;
					transform-origin: left center;
					transform: rotate(40deg);
				}
			}
		}

		p:hover {

			&.brand_next,
			&.brand_prev {
				&::before {
					width: 100%;
					transition: 0.2s;
				}

				&::after {
					width: 40px;
					transition: 0.2s 0.2s;
				}
			}
		}
	}
}