#banner2 {
	width: 100%;
	background-color: #fff;
	overflow: hidden;

	a {
		width: 1500px;
		margin: 0 auto;
		position: relative;
		display: block;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.banner2_inner {
			width: 40%;
			align-items: center;
			text-align: left;
			top: 37%;
			left: 22%;
			position: absolute;

			h2 {
				font: 1.7vw/1 'LotteMartHappy';
				color: #555;
				position: absolute;
			}

			p {
				font: 0.9vw/7 'LotteMartDream';
				color: #555;
				position: absolute;
			}

			h3 {
				font: bold 0.9vw/12 'LotteMartDream';
				color: #555;
				position: absolute;
			}
		}
	}
}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 400px) {}