.commpany_introduce {
	width: 100%;
	height: 50vh;

	div {
		width: 75vw;
		height: 50vh;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		align-items: center;
		gap: 4vw;

		div {
			h6 {
				display: none;
				text-align: left;
			}

			p {
				width: 100%;
				font: 16px/1.5 'LotteMartDream';
				color: #777;
				text-align: left;
			}
		}

		div {
			width: 100%;

			.introduce_mp4 {
				width: 100%;
				height: 35vh;
			}
		}


	}

}

.commpany_location {
	width: 1500px;
	height: 75vh;
	margin: 0 auto;
	text-align: center;

	.location_inner {

		h2 {
			font: 18px/2.5 'LotteMartHappy';
			color: #555;
			// border: 2px solid #e8dfd8;
			background-color: #e8dfd8;
		}

		#map {
			width: 100%;
			height: 500px;
			border: 2px solid #e8dfd8;
			margin-bottom: 20px;
		}

		&::after {
			content: '';
			display: block;
			clear: both;
		}

		.traffic {
			float: left;
			display: flex;

			li {
				margin-right: 20px;

				a {
					width: 250px;
					height: 40px;
					font: 13px/40px 'LotteMartDream';
					color: #111;
					background-color: #e8dfd8;
					text-align: center;
					display: block;
				}

				&.on a {
					color: #fff;
					background-color: orange;
					border: none;
				}
			}
		}

		.branch {
			float: right;
			display: flex;

			li {
				margin-left: 10px;

				a {
					width: 250px;
					height: 40px;
					font: 13px/40px 'LotteMartDream';
					color: #111;
					background-color: #e8dfd8;
					text-align: center;
					display: block;
				}

				&.on a {
					color: #fff;
					background-color: orange;
					border: none;
				}
			}
		}
	}
}